*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
.containerTest{
   padding-left: 50px;
   padding-right: 50px;
}
.mainImg{
   width: 100%;
}
.backgroundBox{
   margin: 64px 180px;
   padding-top: 96px;
   padding-bottom: 96px;
   background-color: #E2F7FF;
}
.underImg{
   margin-top: 30px;
}
.underImg p {
   color: #6941C6;
   font-family: Inter;
   font-size: 14px;
   font-style: normal;
   font-weight: 600;
   line-height: 20px;
}
.underHeader{
   margin-bottom: 30px;
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.underHeader h3 {
   color: #181D27;
   font-family: Inter;
   font-size: 30px;
   font-style: normal;
   font-weight: 600;
   line-height: 38px;
}
.underImg span {
   overflow: hidden;
   color: #535862;
   text-overflow: ellipsis;
   font-family: Inter;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; 
}
.btnGroup {
   display: flex;
   gap: 10px;
   margin-top: 30px;
}
.btnGroup button {
   padding: 8px 12px;
   border-radius: var(--radius-full, 9999px);
   border: 1px solid #FCCEEE;
   background: #FDF2FA;
}
.btnGroup :nth-child(1) {
   color: #6941C6;
   text-align: center;
   /* Text sm/Medium */
   font-family: var(--Font-family-font-family-body, Inter);
   font-size: var(--Font-size-text-sm, 14px);
   font-style: normal;
   font-weight: 500;
   line-height: var(--Line-height-text-sm, 20px);
}
.btnGroup :nth-child(2) {
   color: #3538CD;
   text-align: center;
   /* Text sm/Medium */
   font-family: var(--Font-family-font-family-body, Inter);
   font-size: var(--Font-size-text-sm, 14px);
   font-style: normal;
   font-weight: 500;
   line-height: var(--Line-height-text-sm, 20px);
}
.btnGroup :nth-child(3) {
   color: #C11574;
   text-align: center;
   /* Text sm/Medium */
   font-family: var(--Font-family-font-family-body, Inter);
   font-size: var(--Font-size-text-sm, 14px);
   font-style: normal;
   font-weight: 500;
   line-height: var(--Line-height-text-sm, 20px);
}

/*  */
/*  */

.mainContent {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 90px;
}
.firstMainContent p {
   margin-top: 30px;
   color: #6941C6;
   font-family: Inter;
   font-size: 14px;
   font-style: normal;
   font-weight: 600;
   line-height: 20px;
}
.mainContentText{
   margin-bottom: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.mainContentText h3 {
   margin-top: 10px;
   color: #181D27;
   font-family: Inter;
   font-size: 24px;
   font-style: normal;
   font-weight: 600;
   line-height: 32px;
}
.testRun {
   width: 100%;
}
.firstMainContent {
   width: 30%;
}
.firstMainContent span {
   overflow: hidden;
   color: #535862;
   text-overflow: ellipsis;
   font-family: Inter;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
}
.firstContentBtn {
   margin-top: 30px;
   gap: 10px;
   display: flex;
   align-items: center;
}
.firstContentBtn button{
   padding: 8px 12px;
   border-radius: var(--radius-full, 9999px);
   border: 1px solid #FCCEEE;
   background: #FDF2FA;
}
.firstContentBtn button:nth-child(1) {
   color: #026AA2;
   text-align: center;
}
.firstContentBtn button:nth-child(2) {
   color: #C11574;
   text-align: center;
}
.firstContentBtn button:nth-child(3) {
   color: #C11574;
   text-align: center;
}
/*  */
/*  */
.secondMainContent p {
   margin-top: 30px;
   color: #6941C6;
   font-family: Inter;
   font-size: 14px;
   font-style: normal;
   font-weight: 600;
   line-height: 20px;
}
.secondMainContent {
   width: 30%;
}
.secondMainContent span {
   overflow: hidden;
   color: #535862;
   text-overflow: ellipsis;
   font-family: Inter;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
}
.secondContentBtn {
   margin-top: 30px;
   gap: 10px;
   display: flex;
   align-items: center;
}
.secondContentBtn button{
   padding: 8px 12px;
   border-radius: var(--radius-full, 9999px);
   border: 1px solid #FCCEEE;
   background: #FDF2FA;
}
.secondContentBtn button:nth-child(1) {
   color: #067647;
   text-align: center;
}
.secondContentBtn button:nth-child(2) {
   color: #C11574;
   text-align: center;
}
/*  */
/*  */
.thirdMainContent p {
   margin-top: 30px;
   color: #6941C6;
   font-family: Inter;
   font-size: 14px;
   font-style: normal;
   font-weight: 600;
   line-height: 20px;
}
.thirdMainContent {
   width: 30%;
}
.thirdMainContent span {
   overflow: hidden;
   color: #535862;
   text-overflow: ellipsis;
   font-family: Inter;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
}
.thirdContentBtn {
   margin-top: 30px;
   gap: 10px;
   display: flex;
   align-items: center;
}
.thirdContentBtn button{
   padding: 8px 12px;
   border-radius: var(--radius-full, 9999px);
   border: 1px solid #FCCEEE;
   background: #FDF2FA;
}
.thirdContentBtn button:nth-child(1) {
   color: #6941C6;
   text-align: center;
}
.thirdContentBtn button:nth-child(2) {
   color: #363F72;
   text-align: center;
}
/*  */
/*  */

.secondaryContent{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 90px;
}
.firstSecondaryContent{
   width: 30%;
}

.firstSecondaryContent p {
   margin-top: 30px;
   color: #6941C6;
   font-family: Inter;
   font-size: 14px;
   font-style: normal;
   font-weight: 600;
   line-height: 20px;
}
.secondaryContentText {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.secondaryContentText h3 {
   margin-top: 10px;
   margin-bottom: 30px;
   color: #181D27;
   font-family: Inter;
   font-size: 24px;
   font-style: normal;
   font-weight: 600;
   line-height: 32px;
}
.secondaryContent span {
   overflow: hidden;
   color: #535862;
   text-overflow: ellipsis;
   font-family: Inter;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
}
.firstSecondaryContentBtn {
   margin-top: 30px;
   gap: 10px;
   display: flex;
   align-items: center;
}
.firstSecondaryContentBtn button{
   padding: 8px 12px;
   border-radius: var(--radius-full, 9999px);
   border: 1px solid #FCCEEE;
   background: #FDF2FA;
}
.firstSecondaryContentBtn button:nth-child(1) {
   color: #026AA2;
   text-align: center;
}
.firstSecondaryContentBtn button:nth-child(2) {
   color: #3538CD;
   text-align: center;
}
.firstSecondaryContentBtn button:nth-child(3) {
   color: #B93815;
   text-align: center;
}
/*  */
/*  */
.secondSecondaryContent{
   width: 30%;
}

.secondSecondaryContent p {
   margin-top: 30px;
   color: #6941C6;
   font-family: Inter;
   font-size: 14px;
   font-style: normal;
   font-weight: 600;
   line-height: 20px;
}
.secondSecondaryContentBtn {
   margin-top: 30px;
   gap: 10px;
   display: flex;
   align-items: center;
}
.secondSecondaryContentBtn button{
   padding: 8px 12px;
   border-radius: var(--radius-full, 9999px);
   border: 1px solid #FCCEEE;
   background: #FDF2FA;
}
.secondSecondaryContentBtn button:nth-child(1) {
   color: #026AA2;
   text-align: center;
}
.secondSecondaryContentBtn button:nth-child(2) {
   color: #3538CD;
   text-align: center;
}
.secondSecondaryContentBtn button:nth-child(3) {
   color: #B93815;
   text-align: center;
}
/*  */
/*  */
.thirdSecondaryContent{
   width: 30%;
}

.thirdSecondaryContent p {
   margin-top: 30px;
   color: #6941C6;
   font-family: Inter;
   font-size: 14px;
   font-style: normal;
   font-weight: 600;
   line-height: 20px;
}
.thirdSecondaryContentBtn {
   margin-top: 30px;
   gap: 10px;
   display: flex;
   align-items: center;
}
.thirdSecondaryContentBtn button{
   padding: 8px 12px;
   border-radius: var(--radius-full, 9999px);
   border: 1px solid #FCCEEE;
   background: #FDF2FA;
}
.thirdSecondaryContentBtn button:nth-child(1) {
   color: #026AA2;
   text-align: center;
}
.thirdSecondaryContentBtn button:nth-child(2) {
   color: #3538CD;
   text-align: center;
}
.thirdSecondaryContentBtn button:nth-child(3) {
   color: #B93815;
   text-align: center;
}
.test img {
   margin-top: 32px;
}